<script src="../../node_modules/reselect/dist/reselect.js" ></script>
<link rel="import" href="../pocha-rules.html">

<script>
    const selectors = function (){
        var o = {};
        let pochaRulesElement = document.createElement("pocha-rules");

        const round = o.round = state => state.scoring.round;
        const ruleset = state => state.rules.ruleset;
        const roundFlags = state => state.rules.roundflags;
        const scores = state => state.scoring.score;
        const players = state => state.players;

        o.maxScore = Reselect.createSelector(scores, scores => { 
            return Object.keys(scores).map(key => { return scores[key].current; }).reduce( (max, n) => n > max ? n : max  )
        });
        o.playersIds = Reselect.createSelector(players, players => { 
            return Object.keys(players).map(x => players[x].id)
        });
        o.deltas = Reselect.createSelector(scores, ruleset, roundFlags, o.playersIds, (score, rules, flags, playersIds) => {
            return playersIds.reduce ((ant, key) => {
                ant[key] = score[key]?pochaRulesElement.delta(rules, score[key].tips, flags):0;
                return ant;
            }, {})
        });
        o.currents = Reselect.createSelector(scores, o.playersIds, (score, playersIds) => {
            return playersIds.reduce ((ant, key) => {
                ant[key] = score[key]?score[key].current:0;
                return ant;
            }, {})
        });
        o.totals = Reselect.createSelector(o.currents, o.deltas, (current, delta) => {
            return Object.keys(current).reduce ((ant, key) => {
                ant[key] = current[key] + delta[key];
                return ant;
            }, {})
        })
        return o;
    }();
</script>