<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="polypocha-none">
  <template>
    <style>
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <p>
      none
    </p>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class None extends Polymer.Element {
      static get is () { return 'polypocha-none'}
    }
    customElements.define(None.is, None)
  </script>
</dom-module>
