<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./pocha-state.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./board-player-status.html">

<dom-module id="board-player-list">
  <template>
    <style>
      board-player{
        width: 100%;
        padding-bottom: 1em;
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <p>
      <template is="dom-repeat" items="[[players]]" as="player" id="list">
        <board-player-status 
          player-id=[[player.id]]
        ></board-player>
      </template>
    </p>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class BoardPlayerList extends PochaState {

      static get is () { return 'board-player-list'}

      static get properties() {
        return {
          players: {
            type: Object,
            //readOnly: true,
            notify: false,
            reflectToAttribute: false,
            //value: {name:"demo"},
            statePath: 'players' // Binds state, "Hello, World!"
          },
          score: {
            type: Object,
            //readOnly: true,
            notify: false,
            reflectToAttribute: false,
            //value: {name:"demo"},
            statePath: 'scoring.score' // Binds state, "Hello, World!"
          },
        };
      }

      currentPlayerScore(playerId,field){
        return this.score[playerId][field];
      }

    }
    customElements.define(BoardPlayerList.is, BoardPlayerList)
  </script>
</dom-module>
