<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./pocha-state.html">
<link rel="import" href="./board-player.html">


<dom-module id="board-player-status">
  <template>
    <style>
      :host{
        width: 100%;
        display: block;
      }
    </style>
    <board-player
      portrait=[[portrait]]
      score-base=[[scoreBase]]
      score-tips=[[scoreTips]]  
      player-id=[[playerId]]
      score-change=[[scoreChanges]]
      score=[[scoreTotals]]
    />
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class BoardPlayerStatus extends PochaState {
      static get is () { return 'board-player-status'}
      static get properties (){
        return {
          portrait: {
            type: String,
            notify: false,
            reflectToAttribute: false,
            statePath(state) {
              if (state) {
                let player = state.players.find((item) => {
                  return item.id === this.playerId;
                })
                if(player) return player.portrait;
              }
            }
          },
          scoreBase:{
            type: Number,
            notify: false,
            value: 0,
            statePath(state) {
              return this.selectors.currents(state)[this.playerId];
            }
          },
          score:{
            type: Number,
            notify: false,
            value: 10,
            statePath(state) {
              return this.selectors.totals(state)[this.playerId];
            }
          },
          scoreTips:{
            type: Number,
            notify: false,
            reflectToAttribute: true,
            value: 1,
            statePath(state) {
              if (state && state.scoring.score[this.playerId]) 
                return state.scoring.score[this.playerId].tips;
              else
                return null;
            }
          },
          scoreChanges:{
            type: Number,
            notify: false,
            value: 5,
            statePath(state){
              return this.selectors.deltas(state)[this.playerId]
            }
          },
          scoreTotals:{
            type: Number,
            notify: false,
            value: 5,
            statePath(state){
              return this.selectors.totals(state)[this.playerId]
            }
          },
          playerId:{
            type: String,
            readOnly: false,
          },
          ruleSet:{
            type: String,
            statePath:'rules.ruleset'
          },
          ruleRoundFlags:{
            type: Array,
            statePath: 'rules.roundflags'
          }
        };
      }

      minus(e){
        let old = this.scoreTips;
        this.scoreTips --;
        this._raiseChangeEvent('minus', old);

      }

      plus(e){
        let old = this.scoreTips;
        this.scoreTips ++;
        this._raiseChangeEvent('plus', old);
      }

      _raiseChangeEvent(event, oldValue){
        this.dispatchEvent(new CustomEvent('tipsChanged', {
              detail: {
                tips: this.scoreTips,
                event,
                oldValue,
                playerId: this.playerId,
              },
              bubbles: true, 
              composed: true,
            })); 
      }

    }
    customElements.define(BoardPlayerStatus.is, BoardPlayerStatus)
  </script>
</dom-module>
