<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="polypocha-debug">
  <template>
    <style>
      :host {
        display: inline-block;
      }
      pre{
        line-height: 1.2em;
        font-size: smaller;
      }
    </style>

    <!-- local DOM goes here -->
    <div>
      <pre>[[debugInfo()]]</pre>
    </div>

  </template>

  <script>
    class PolypochaDebug extends Polymer.Element {
      static get is() { return 'polypocha-debug' }
      static get properties() {
        return {
          subject: {
            type: Object,
            notify: true,
            reflectToAttribute: true,
            //value: [{name:"demo"}]
          },
        }
      }
      debugInfo() {
        return JSON.stringify(this.subject,null,2);
      }

      constructor() {
        super();
      }
    }

    customElements.define(PolypochaDebug.is, PolypochaDebug);
  </script>
</dom-module>
