<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="pocha-portrait">
  <template>
    <style>
      :host {
        height: 100%;
      }
      img {
        width: [[size]];
        height: [[size]];
        object-fit: cover;
      }
      .captuerIos{
        width: [[size]];
        height: [[size]];
        overflow: hidden;
        border-radius: 100%;
        box-shadow: 1px 3px 5px 2px grey;
        border-radius: 100%;
        border-color: #3c3b3b;
        border-style: solid;
        border-width: thin;
        background-color: var(--background-color,white)
      }
      input {
        height: 100%;
      }
      .invisible {
        opacity: 0.0;
        position: relative;
        background-color: #000;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
        filter: alpha(opacity=00);
        z-index: 2;
        top: -100%;
        height: inherit;
      }
      .disabled {
        display:none
      }
      .visible {
        z-index: 1;
        position: relative;
      }
      .none{
        width: 60%;
        height: 60%;
        padding: 20%;
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <div class="captuerIos">
        <div class="visible">
          <img src="[[computedSrc]]" class$="[[computedZoom]]" />
        </div>
        <div id="modifier" class="invisible">
          <input type="file" accept="image/*" capture="camera" on-change="changePhoto"/>
        </div>
      </div>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class PochaPortrait extends Polymer.Element {
      static get is () { return 'pocha-portrait'}
      static get properties () {
        return {
          src: {
            type: String,
            reflectToAttribute: true,
            value: null
          },
          ro: Boolean,
          computedSrc: {
            type: String,
            reflectToAttribute: false,
            computed: 'computeSrc(src)'
          },
          computedZoom: {
            type: String,
            reflectToAttribute: true,
            computed: 'computeZoom(src)'
          },
          size: {
            type: String,
            reflectToAttribute: true,
            value: '50px'
          }
        }
      }
      computeSrc(src){
        let defaultValue=this.ro?'../images/user.png':'../images/add_user.png'
        return src?src:defaultValue;
      }
      computeZoom(src){
        if (src){
          return '';
        } else {
          return 'none';
        }
      }
      ready(){
        super.ready()
        if (this.ro){
          this.$.modifier.className="disabled"
        }
      }
      changePhoto(e){
        var theFiles = e.target.files;
        if (theFiles.length){
          var me=this;
          me._loadPictureBytes(theFiles[0])
          .then (largeResult => {
            me.largeResult = largeResult;
            return me._getSizes(largeResult, 200)
          })
          .then(targetSize => {
            return me._resizeImage(me.largeResult, targetSize.width, targetSize.height);
          })
          .then( scaledResult => {
            me.set('src', scaledResult);
            me._riseChangeEvent(scaledResult);
          })            
        } else {
          this.set(src,null)
          me._riseChangeEvent(null);
        }
      }

      _loadPictureBytes(pictureFile){
        return new Promise((resolve, reject) => {
          var fileReader = new FileReader();
          fileReader.onload = function() {
            resolve(fileReader.result);
          }
          fileReader.readAsDataURL(pictureFile);
        })
      }

      _getSizes(urlDataImage, maxSideSize){
        return new Promise ((resolve, reject) => {
          var imageObj = new Image();
          imageObj.src = urlDataImage;
          imageObj.onload = function () {
            var sizes = {width: imageObj.width, height: imageObj.height};
            resolve(sizes);
          }
        })
        .then( originalSizes => {
          var x=originalSizes.height;
          var y=originalSizes.width;
          var max = 1.0 * ( x > y ? x : y ) ;
          var ratio = 1.0 * maxSideSize / max
          var scaledResult = ( {width: y*ratio, height: x*ratio}); 
          return scaledResult;
        })
        .catch ( reason => {
          return {width: maxSideSize, height: maxSideSize}
        })
      }
      
      _resizeImage(url, width, height) {
        return new Promise ((resolve, reject) => {
          var sourceImage = new Image();
          sourceImage.onload = function() {
              // Create a canvas with the desired dimensions
              var canvas = document.createElement("canvas");
              canvas.width = width;
              canvas.height = height;
              // Scale and draw the source image to the canvas
              canvas.getContext("2d").drawImage(sourceImage, 0, 0, width, height);
              // Convert the canvas to a data URL in PNG format
              resolve (canvas.toDataURL());
          }
          sourceImage.src = url;
        })
      }

      _riseChangeEvent(src){
        this.dispatchEvent(new CustomEvent('portrait', {
              detail: {src},
              bubbles: true, 
              composed: true,
            })); 
      }
    }
    customElements.define(PochaPortrait.is, PochaPortrait)
  </script>
</dom-module>
