<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="pocha-rules">
  <template>
    <style>
    </style>
    <!-- ..... local dom goes here ........................................ -->
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class PochaRules extends Polymer.Element {
      static get is () { return 'pocha-rules'}
      constructor(){
        super();
        let pochaDelta = (tips) => {
          if (tips ===null) return 0
          return (tips>=0?10:0) + 5*tips;
        };
        this.rules = {
          pocha: {
            roundInfo: (round) => 'npi',
            delta: pochaDelta ,
            roundFlags: []
          },
          pocheada: {
            roundInfo: (round) => 'npi',
            delta: (tips, flags=[]) => {
              let multiplier = 1;
              if (flags.indexOf('x2')!==-1){
                multiplier = 2;
              }
              if (flags.indexOf('x3')!==-1){
                multiplier = 3;
              }
              return multiplier * pochaDelta(tips)
            },
            roundFlags:[
              {flag:'x2', default: false},
              {flag:'x3', default: false},
            ]
          },
          none: {
            roundInfo: (round) => `ronda ${round}`,
            delta: (tips, flags=[]) => tips==null?0:tips,
            roundFlags: [],
          }
        }
      };
      
      get options () {
        return Object.keys(this.rules);
      }
      
      delta (ruleset, tips, flags=[]){
        let deltaFunction = this.rules[ruleset].delta;
        return deltaFunction(tips,flags);
      }

      availableRoundFlags(ruleset){
        let ruleSetInfo = this.rules[ruleset];
        if (ruleSetInfo)
          return this.rules[ruleset].roundFlags;
        else
          return [];
      }
      
    }
    customElements.define(PochaRules.is, PochaRules)
  </script>
</dom-module>
