<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./setup-player.html">

<link rel="import" href="./debug.html">

<dom-module id="setup-playerlist">
  <template>
    <style>
      setup-player {
        padding-top: 3px;
        padding-bottom: 3px;
      }
      .addPlayer{
        width: 136px;
        height: 182px;
        border-radius: 20px;
        display: inline-block;
        vertical-align: top;
        background-color: var(--light-primary-color,white);
        color: var(--text-primary-color, black);
      }
    </style>
    <!-- ..... local dom goes here ........................................ -->
    <p>
      <template is="dom-repeat" items="[[players]]" as="player">
          <setup-player player=[[player]] ondelete=[[ondelete(player)]]></setup-player>
      </template>
      <button class="addPlayer" on-tap="addPlayer" >add new player</button>
    </p>
  </template>

  <!-- _______ source _____________________________________________________ -->
  <script>
    class SetupPlayerList extends PochaState {
      static get is () { return 'setup-playerlist'}
      static get properties() {
        return {
          players: {
            type: Object,
            //readOnly: true,
            notify: false,
            reflectToAttribute: false,
            //value: {name:"demo"},
            statePath: 'players' // Binds state, "Hello, World!"
          },
        };
      }
      addPlayer (e){
        let action = this.actions.addPlayer();
        this.dispatch(action);
      }
      ondelete(player){
        let playerId = player.id;
        let action = this.actions.removePlayer(playerId)
        let me = this;
        let result = function(e) {
          console.info(action)
          me.dispatch(action);
        }
        return result;
      }
    }
    customElements.define(SetupPlayerList.is, SetupPlayerList)
  </script>
</dom-module>
